<?xml version="1.0" encoding="utf-8"?>
<rewriteMaps>
  <rewriteMap name="IgnoreQueryStrings">
    <add key="/about" value="/About-Us" />
    <add key="/awards" value="/About-Us/Facts-Figures" />
    <add key="/bjc_newsroom_content.aspx" value="/About-Us/Newsroom" />
    <add key="/bjc_patientvisitor_content.aspx" value="/For-Patients-Visitors" />
    <add key="/bjc_quality_home.aspx" value="/About-Us/Quality" />
    <add key="/bjccasset" value="/About-Us/The-BJC-Collaborative" />
    <add key="/bjccassetlogin" value="/About-Us/The-BJC-Collaborative/Asset-Recovery-Center" />
    <add key="/bjcleadership" value="/About-Us/Facts-Figures/Leadership" />
    <add key="/BJC-main-office" value="/Our-Facilities" />
    <add key="/BJCNews" value="/About-Us/Newsroom" />
    <add key="/cce" value="/For-Health-Care-Professionals/Center-for-Clinical-Excellence" />
    <add key="/child-medical-services" value="/Services/Medical-Services/Pediatric-Services" />
    <add key="/child-wellness" value="/Health-Library" />
    <add key="/community" value="/In-Your-Community" />
    <add key="/CPOE" value="/For-Physicians" />
    <add key="/cwh_wellness.aspx" value="/Health-Library" />
    <add key="/exercise&amp;fitness" value="/Health-Library" />
    <add key="/facilities" value="/Our-Facilities" />
    <add key="/facts" value="/About-Us/Facts-Figures" />
    <add key="/FinancialAssistance" value="/For-Patients-Visitors/Financial-Assistance" />
    <add key="/ForVendors" value="/" />
    <add key="/ForYourPatients" value="/For-Physicians" />
    <add key="/health-care-professionals" value="/For-Health-Care-Professionals" />
    <add key="/hospitals" value="/Our-Facilities/BJC-Hospitals" />
    <add key="/Long-TermCare" value="/Our-Facilities/Long-Term-Care-Facilities" />
    <add key="/maps&amp;directions" value="/For-Patients-Visitors/Maps-Directions" />
    <add key="/MedicalEducation" value="/For-Physicians/Medical-Education" />
    <add key="/medical-services" value="/Services/Medical-Services" />
    <add key="/medicare" value="/For-Patients-Visitors" />
    <add key="/newborns" value="/For-Patients-Visitors/Meet-Our-Newborns" />
    <add key="/News" value="/About-Us/Newsroom" />
    <add key="/PatientSafety" value="/For-Patients-Visitors" />
    <add key="/paymybill" value="/Online-Bill-Pay" />
    <add key="/pharmacies" value="/Services/Pharmacies" />
    <add key="/Physicians/" value="/Find-a-Doctor" />
    <add key="/physicians/" value="/Find-a-Doctor" />
    <add key="/prostate-cancer-awareness-quiz" value="/Health-Library" />
    <add key="/purpose" value="/About-Us/Purpose-Goal-and-Shared-Principles" />
    <add key="/quality" value="/About-Us/Quality" />
    <add key="/RemoteAccess" value="/For-Employees" />
    <add key="/Sitemap" value="/Home/Site-Map" />
    <add key="/specialized_services" value="/Services" />
    <add key="/SpecialtyServices" value="/Services" />
    <add key="/trainingcenter" value="/For-Health-Care-Professionals/Training-Center" />
    <add key="/ecard" value="/For-Patients-Visitors/E-cards" />
    <add key="/MarketPlace" value="/For-Patients-Visitors/Health-Marketplace" />
    <add key="/bhp_home.aspx" value="http://www.bjcbhp.com" />
    <add key="/behavioralhealth_home.aspx" value="http://www.bjcbehavioralhealth.org/" />
    <add key="/behavioralhealth_content.aspx" value="http://www.bjcbehavioralhealth.org/" />
    <add key="/behavioralhealth_content1.aspx" value="http://www.bjcbehavioralhealth.org/" />
    <add key="/behavioralhealth_content2.aspx" value="http://www.bjcbehavioralhealth.org/" />
    <add key="/bjcchs_home.aspx" value="http://www.bjccommunityhealthliteracy.org" />
    <add key="/bjchc_content.aspx" value="http://www.bjchomecare.org/" />
    <add key="/hospice_forms.aspx" value="http://www.bjchospice.org/" />
    <add key="/bcc07_content.aspx" value="http://www.barnescare.com/home" />
    <add key="/Jobs/Apply-Now" value="/Jobs" />
    <add key="/Jobs/Apply-Now/Application-FAQs" value="/jobs/getting-hired" />
    <add key="/Jobs/Careers" value="/jobs/career-areas" />
    <add key="/Jobs/Careers/What-To-Expect" value="/jobs/getting-hired" />
    <add key="/Jobs/Careers/How-to-Apply" value="/jobs/getting-hired" />
    <add key="/Jobs/Careers-by-Location" value="/jobs/locations" />
    <add key="/Jobs/Careers-by-Location/Corporate-Shared-Services" value="/jobs/locations" />
    <add key="/Jobs/Careers-by-Location/Corporate-Shared-Services/Career-Opportunities" value="/jobs/locations" />
    <add key="/Jobs/Join-Us-BJC-Talent-Network" value="/Jobs/talent-network" />
    <add key="/Jobs/Interested-in-Nursing" value="/jobs/career-areas" />
    <add key="/Jobs/Recruitment-Events" value="/Jobs/Events" />
    <add key="/Jobs/Why-BJC" value="/Jobs/about-us" />
    <add key="/Jobs/Why-BJC/Learning-and-Development" value="/Jobs/about-us" />
    <add key="/Jobs/Why-BJC/Diversity" value="/Jobs/about-us" />
    <add key="/DNConnection" value="/DiverseNursesConnection" />
    <add key="/YPConnection" value="/YoungProfessionalsConnection" />
    <add key="/tshirts" value="https://uw.orderpromos.com/" />
  </rewriteMap>
  <rewriteMap name="StartWith">
    <add key="/cce" value="/For-Health-Care-Professionals/Center-for-Clinical-Excellence" />
    <add key="/behavioralhealth_content.aspx" value="http://www.bjcbehavioralhealth.org/" />
    <add key="/behavioralhealth_content1.aspx" value="http://www.bjcbehavioralhealth.org/" />
    <add key="/behavioralhealth_content2.aspx" value="http://www.bjcbehavioralhealth.org/" />
    <add key="/bjchc_content.aspx" value="http://www.bjchomecare.org/" />
    <add key="/hospice_forms.aspx" value="http://www.bjchospice.org/" />
  </rewriteMap>
  <rewriteMap name="AppendQueryString">
    <add key="/bcc07_content.aspx" value="http://www.barnescare.com/bcc07_content.aspx" />
    <!-- ?id=xxxx -->
    <add key="/bcc07_home.aspx" value="http://www.barnescare.com/bcc07_home.aspx" />
    <!-- ?nstr=xxxx -->
    <add key="/esnh_forms.aspx" value="https://secure366.bjc.org/esnh_forms.aspx" />
  </rewriteMap>
  <rewriteMap name="StaticRedirects">
    <add key="/Construction/About/Documents" value="/Manual-of-Practice" />
    <add key="/stlemployees" value="https://classes-events.bjc.org/wlp2/bjc/classes/info/A4P0008C/City-of-St.-Louis-Employee-Event?utm_medium=print&amp;utm_source=flyer&amp;utm_campaign=beefit&amp;utm_content=stlemployees" />
    <add key="/Newsroom/Article/ArtMID/5522/ArticleID/4376/Coronavirus-proactive-measures-are-in-place-across-BJC" value="/coronavirus" />
    <add key="/About-Us/Newsroom-Old/BJC-News/ArtMID/897/ArticleID/4341/Coronavirus-Preparedness-at-BJC-HealthCare" value="/coronavirus" />
    <add key="/quarantine" value="/Coronavirus/Information-Resources/ArtMID/5707/ArticleID/4403/Self-Quarantine-Instructions?utm_source=link_call%2Bcenter&amp;utm_medium=phone&amp;utm_campaign=covid&amp;utm_content=quarantine" />
    <add key="/covidinformation" value="/Coronavirus?utm_source=link_call%2Bcenter&amp;utm_medium=phone&amp;utm_campaign=covid&amp;utm_content=screening%2Binformation#screening-information" />
    <add key="/CoronavirusDonations" value="/Coronavirus/Information-Resources/ArtMID/5707/ArticleID/4413/BJC-establishes-COVID-19-supply-donation-processes?utm_campaign=covid&amp;utm_medium=media+release&amp;utm_source=various&amp;utm_content=donations" />
    <add key="/ppe4bjc" value="/Coronavirus/Information-Resources/ArtMID/5707/ArticleID/4413/What-can-I-do-to-help-Medical-donation-guidance?utm_campaign=covid&amp;utm_medium=various&amp;utm_source=various&amp;utm_content=student+ppe+collection" />
    <add key="/strong" value="https://secure.nationalmssociety.org/site/TR?fr_id=31236&amp;pg=team&amp;team_id=623127" />
    <add key="/isolate" value="/Coronavirus/Information-Resources/ArtMID/5707/ArticleID/4403/Self-Quarantine-Instructions?utm_source=screening&amp;utm_medium=web%2Blink&amp;utm_campaign=covid&amp;utm_content=isolate" />
    <add key="/screening" value="/coronavirus?utm_source=link_HG%2Bcall%2Bcenter&amp;utm_medium=phone&amp;utm_campaign=covid&amp;utm_content=screening" />
    <add key="/driveuplab" value="/Coronavirus/Drive-Up-Lab?utm_source=print&amp;utm_medium=flyer&amp;utm_campaign=covid&amp;utm_term=professional&amp;utm_content=drive%2Bup%2Blab" />
    <add key="/restartingsports" value="/Keeping-You-Safe/News/ArtMID/5837/ArticleID/4441/Restarting-Youth-and-High-School-Sports#article" />
    <add key="/connected" value="/stayingconnected" />
    <add key="/visitors" value="/Coronavirus/Planning-Your-Visit/Planning-Articles/ArtMID/6441/ArticleID/4405/BJC-Visitor-Policy?utm_medium=outdoor&amp;utm_source=poster&amp;utm_campaign=keeping+you+safe" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations" value="/About-Us/BJC-Locations" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/Alton-Memorial-Convenient-Care" value="/About-Us/BJC-Locations/Alton-Memorial-Convenient-Care" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/Alton-Memorial-Convenient-Care-at-Bethalto" value="/About-Us/BJC-Locations/Alton-Memorial-Convenient-Care-at-Bethalto" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/OFallon-Convenient-Care" value="/About-Us/BJC-Locations/OFallon-Convenient-Care" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/Boone-Medical-Group-Convenient-Care-at-Business-Loop" value="/About-Us/BJC-Locations/Boone-Medical-Group-Convenient-Care-at-Business-Loop" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/Boone-Medical-Group-Convenient-Care-at-Nifong" value="/About-Us/BJC-Locations/Boone-Medical-Group-Convenient-Care-at-Nifong" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/Medical-Arts-Convenient-Care" value="/About-Us/BJC-Locations/Medical-Arts-Convenient-Care" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/Sullivan-Weekend-Clinic" value="/About-Us/BJC-Locations/Sullivan-Weekend-Clinic" />
    <add key="/Services/Convenient-and-After-Hours-Care-Locations/BJC-Medical-Group-After-Hours-Clinic" value="/About-Us/BJC-Locations/BJC-Medical-Group-After-Hours-Clinic" />
    <add key="/wallet" value="/For-Patients-Visitors/Improved-Payment-Experience" />
    <add key="/beefit" value="https://classes-events.bjc.org/wlp2/bjc/classes/find/1/$IgnoreClosed=true$ExcludeScreenings=false$ClassDate=08.12.2020$Website=City%20of%20St.%20Louis%20BeeFit" />
    <add key="/values" value="/Our-BJC-Values" />
    <add key="/wentzville" value="https://www.bjc.org/About-Us/BJC-Locations/BJC-Medical-Group-Convenient-Care-at-Wentzville" />
    <add key="/SafeLongTermCare" value="/Coronavirus/Information-Resources/ArtMID/5707/ArticleID/4557/Long-term-Care-Facilities-and-COVID-19?utm_medium=print&amp;utm_source=flyer&amp;utm_campaign=COVID19&amp;utm_content=Physician_handout" />
    <add key="/hearthealth" value="/Heart-Health" />
    <add key="/vaccinate" value="/Coronavirus/Covid-19-Vaccines" />
    <add key="/vaccine" value="/Coronavirus/Covid-19-Vaccines?utm_source=call%2Bcenter&amp;utm_medium=call%2Bcenter&amp;utm_campaign=covid-19&amp;utm_term=pre-register&amp;utm_content=vaccine" />
        <add key="/doctors" value="https://doctors.bjc.org/wlp2/bjc/doctors/search" />
        <add key="/yourheart" value="https://www.bjc.org/heart" />
  </rewriteMap>
</rewriteMaps>